In [1]:
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
# Read CSV in as a dataframe
df = pd.read_csv('Data/census_data.csv')

# Print df
df

,Community Area Number,COMMUNITY AREA NAME,PERCENT OF HOUSING CROWDED,PERCENT HOUSEHOLDS BELOW POVERTY,PERCENT AGED 16+ UNEMPLOYED,PERCENT AGED 25+ WITHOUT HIGH SCHOOL DIPLOMA,PERCENT AGED UNDER 18 OR OVER 64,PER CAPITA INCOME,HARDSHIP INDEX
0,1.0,Rogers Park,7.7,23.6,8.7,18.2,27.5,23939,39.0
1,2.0,West Ridge,7.8,17.2,8.8,20.8,38.5,23040,46.0
2,3.0,Uptown,3.8,24.0,8.9,11.8,22.2,35787,20.0
3,4.0,Lincoln Square,3.4,10.9,8.2,13.4,25.5,37524,17.0
4,5.0,North Center,0.3,7.5,5.2,4.5,26.2,57123,6.0
...,...,...,...,...,...,...,...,...,...
73,74.0,Mount Greenwood,1.0,3.4,8.7,4.3,36.8,34381,16.0
74,75.0,Morgan Park,0.8,13.2,15.0,10.8,40.3,27149,30.0
75,76.0,O'Hare,3.6,15.4,7.1,10.9,30.3,25828,24.0
76,77.0,Edgewater,4.1,18.2,9.2,9.7,23.8,33385,19.0
77,NaN,CHICAGO,4.7,19.7,12.9,19.5,33.5,28202,NaN

In [3]:
# First five rows of the dataframe
df.head()

,Community Area Number,COMMUNITY AREA NAME,PERCENT OF HOUSING CROWDED,PERCENT HOUSEHOLDS BELOW POVERTY,PERCENT AGED 16+ UNEMPLOYED,PERCENT AGED 25+ WITHOUT HIGH SCHOOL DIPLOMA,PERCENT AGED UNDER 18 OR OVER 64,PER CAPITA INCOME,HARDSHIP INDEX
0,1.0,Rogers Park,7.7,23.6,8.7,18.2,27.5,23939,39.0
1,2.0,West Ridge,7.8,17.2,8.8,20.8,38.5,23040,46.0
2,3.0,Uptown,3.8,24.0,8.9,11.8,22.2,35787,20.0
3,4.0,Lincoln Square,3.4,10.9,8.2,13.4,25.5,37524,17.0
4,5.0,North Center,0.3,7.5,5.2,4.5,26.2,57123,6.0

In [4]:
# See statistical summary 
df.describe()

,Community Area Number,PERCENT OF HOUSING CROWDED,PERCENT HOUSEHOLDS BELOW POVERTY,PERCENT AGED 16+ UNEMPLOYED,PERCENT AGED 25+ WITHOUT HIGH SCHOOL DIPLOMA,PERCENT AGED UNDER 18 OR OVER 64,PER CAPITA INCOME,HARDSHIP INDEX
count,77.000000,78.000000,78.000000,78.000000,78.000000,78.000000,78.000000,77.000000
mean,39.000000,4.920513,21.739744,15.341026,20.330769,35.717949,25597.000000,49.506494
std,22.371857,3.658981,11.457231,7.499497,11.746514,7.284421,15196.405541,28.690556
min,1.000000,0.300000,3.300000,4.700000,2.500000,13.500000,8201.000000,1.000000
25%,20.000000,2.325000,13.350000,9.200000,12.075000,32.150000,15804.750000,25.000000
50%,39.000000,3.850000,19.050000,13.850000,18.650000,38.050000,21668.500000,50.000000
75%,58.000000,6.800000,29.150000,20.000000,26.600000,40.500000,28715.750000,74.000000
max,77.000000,15.800000,56.500000,35.900000,54.800000,51.500000,88669.000000,98.000000

In [5]:
# See quick summary of dataset
df.info

<bound method DataFrame.info of     Community Area Number COMMUNITY AREA NAME  PERCENT OF HOUSING CROWDED  \
0                     1.0         Rogers Park                         7.7
1                     2.0          West Ridge                         7.8
2                     3.0              Uptown                         3.8
3                     4.0      Lincoln Square                         3.4
4                     5.0        North Center                         0.3
..                    ...                 ...                         ...
73                   74.0     Mount Greenwood                         1.0
74                   75.0         Morgan Park                         0.8
75                   76.0              O'Hare                         3.6
76                   77.0           Edgewater                         4.1
77                    NaN             CHICAGO                         4.7

    PERCENT HOUSEHOLDS BELOW POVERTY  PERCENT AGED 16+ UNEMPLOYED  \
0                               23.6                          8.7
1                               17.2                          8.8
2                               24.0                          8.9
3                               10.9                          8.2
4                                7.5                          5.2
..                               ...                          ...
73                               3.4                          8.7
74                              13.2                         15.0
75                              15.4                          7.1
76                              18.2                          9.2
77                              19.7                         12.9

    PERCENT AGED 25+ WITHOUT HIGH SCHOOL DIPLOMA  \
0                                           18.2
1                                           20.8
2                                           11.8
3                                           13.4
4                                            4.5
..                                           ...
73                                           4.3
74                                          10.8
75                                          10.9
76                                           9.7
77                                          19.5

    PERCENT AGED UNDER 18 OR OVER 64  PER CAPITA INCOME   HARDSHIP INDEX
0                               27.5               23939            39.0
1                               38.5               23040            46.0
2                               22.2               35787            20.0
3                               25.5               37524            17.0
4                               26.2               57123             6.0
..                               ...                 ...             ...
73                              36.8               34381            16.0
74                              40.3               27149            30.0
75                              30.3               25828            24.0
76                              23.8               33385            19.0
77                              33.5               28202             NaN

[78 rows x 9 columns]>

In [6]:
#Data types
df.dtypes

Community Area Number                           float64
COMMUNITY AREA NAME                              object
PERCENT OF HOUSING CROWDED                      float64
PERCENT HOUSEHOLDS BELOW POVERTY                float64
PERCENT AGED 16+ UNEMPLOYED                     float64
PERCENT AGED 25+ WITHOUT HIGH SCHOOL DIPLOMA    float64
PERCENT AGED UNDER 18 OR OVER 64                float64
PER CAPITA INCOME                                 int64
HARDSHIP INDEX                                  float64
dtype: object

In [7]:
#Check for missing values
df.isna()

,Community Area Number,COMMUNITY AREA NAME,PERCENT OF HOUSING CROWDED,PERCENT HOUSEHOLDS BELOW POVERTY,PERCENT AGED 16+ UNEMPLOYED,PERCENT AGED 25+ WITHOUT HIGH SCHOOL DIPLOMA,PERCENT AGED UNDER 18 OR OVER 64,PER CAPITA INCOME,HARDSHIP INDEX
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
73,False,False,False,False,False,False,False,False,False
74,False,False,False,False,False,False,False,False,False
75,False,False,False,False,False,False,False,False,False
76,False,False,False,False,False,False,False,False,False
77,True,False,False,False,False,False,False,False,True

In [8]:
#Check for duplicates 
df.duplicated()

0     False
1     False
2     False
3     False
4     False
      ...
73    False
74    False
75    False
76    False
77    False
Length: 78, dtype: bool